/*
 Search Results
----------------------------------------------------- */
.searchResults {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.result {
  position: relative;
  display: block;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Merriweather', serif;
  padding: 20px 15px;
  border-bottom: dotted 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-left: 3px solid transparent;
  color: inherit;
  text-decoration: none;
}

.result:hover {
  background-color: rgba(146, 172, 173, 0.07);
  text-decoration: none;
}

.result .title {
  font-weight: 600;
  font-size: 15px !important;
  margin-bottom: 0.5rem;
}

.result .extract {
  font-size: 14px;
}
