.app {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  transition: all 170ms ease-out;
}

.showingResults .header {
  top: 0;
  left: 0;
  padding: 20px 0;
  background: #539595;
}

.header .home {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: all 170ms ease-out;
  text-decoration: none;
  color: #fff;
}

.showingResults .header .home {
  opacity: 1;
}

.content {
  transition: all 350ms ease-out;
  max-height: 0;
  width: 100%;
}

.showingResults .content {
  max-height: calc(100vh - 200px);
}
